native/node_modules/
native/dist/
native/.expo/
native/web-build/
native/ios/
native/android/

backend/node_modules
backend/dist
backend/.backend.env

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json